@font-face {
    font-family: "Clash Grotesk";
    src: url("../fonts/ClashGrotesk-Variable.woff") format("woff-variations");
    src: url("../fonts/ClashGrotesk-Variable.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Clash Display";
    src: url("../fonts/ClashDisplay-Variable.woff") format("woff-variations");
    src: url("../fonts/ClashDisplay-Variable.ttf") format("truetype-variations");
}

.wide {
    width: 100%;
    min-height: 24px;
}

/* Layout */

body {
    max-width: 100vw;
}

.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 64px 24px;
}

.container_hero {
    align-items: center;
}

.container_features {
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container_testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 640px;
}

.container_footer {
    justify-content: center;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container_cta .vertical-container {
    gap: 8px;
}

.feature-cards-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

header,
section,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    justify-content: space-between;
    align-items: baseline;
}

header nav .menu {
    display: flex;
    gap: 16px;
}

.hero-image {
    height: 100%;
    aspect-ratio: 4/5;
    min-height: 420px;
    background-color: gray;
    border-radius: 12px;
}

.feature-card {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
}
.feature-card .feature-image {
    border: 4px solid #1f2937;
    background-color: #e5e7eb;
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 4/5;
}

.button {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 16px;
    height: 32px;
    border-radius: 8px;
}

.container_cta {
    padding: 36px 48px 36px 48px;
    align-items: center;
    justify-content: space-between;
}

.container_cta a {
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
}



/* Typography */
body {
    font-family: "Clash Grotesk";
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
    font-family: "Clash Display";
    line-height: 0.8em;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
    max-width: 28ch;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-family: "Clash Display";
    font-weight: 600;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

cite {
    align-self: end;
    font-weight: 600;
}

nav a,
.container_cta a {
    color: #e5e7eb;
    text-decoration: none;
}

strong {
    font-weight: 550;
}

.container_cta h1 {
    font-size: 3rem;
    font-weight: 800;
}

/* Misc */
.shadow-lg {
    box-shadow: 0px 4px 128px 12px rgba(0, 0, 0, 0.5);
}
